.main.container {
  margin-top: 7em;
}

.priceTotal {
  font-size: 18px;
  margin-right: 20px;
}

.continue {
  display: block;
  margin-bottom: 20px !important;
}

.basketContainer {
  text-align: center;
}
